<%-include('./partials/header.ejs') %>
    <main class="home flex-column">
        <div class="option d-flex justify-content-end  w-100">
            <a style="text-decoration: none;" href="/admin/viewuser" class="mr-5">Go Back <i
                    class='bx bx-arrow-back'></i></a>
        </div>
        <div class="login_container">
            <h1 class="text-center text-white mt-3">Update User</h1>
            <form action="/admin/edit/<%-data._id%>" method="post" class="form">
                <div class="controls">
                    <div class="input input1">
                        <input type="text" name="username" placeholder="eg. john" value="<%- data.username %>">
                        <label for="" id="name" class="top">Username</label>
                    </div>
                    <div class="input input1">
                        <input type="email" name="email" placeholder="eg. example@gmail.com" value="<%- data.email %>">
                        <label for="" id="email" class="top">Email</label>
                    </div>
                    <div class="input input3">
                        <button type="submit" id="sub_btn">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <script>
        var check = document.getElementById("check");
        check.addEventListener('click', () => {
            if (document.querySelector(".ps").type == "password") {
                document.querySelector(".ps").type = "text"
            } else {
                document.querySelector(".ps").type = "password"
            }
        })
    </script>
    <%-include('./partials/footer.ejs') %>