<%-include('./partials/header.ejs') %>
<main class="home flex-column">
    <div class="option d-flex justify-content-end  w-100">
        <a style="text-decoration: none;" href="/" class="mr-5">Go Back <i
                class='bx bx-arrow-back'></i></a>
    </div>
    <div class="login_container" style="padding-bottom: 10px;">
        <h1 class="text-center text-white mt-3">Profile</h1>
            <div class="controls">
                <div class="image_area">
                    <%if(userData.hasImg){%>
                        <img src="/profile-images/<%-userData._id%>.jpg" alt="">
                    <%}else{%>
                        <img src="/images/profile.png" alt="" id="imgd">
                    <%}%>
                </div>
                <div class="input input1 flex-column align-items-start p-3" style="height: auto;width:90%">
                    <div class="itms  p-2 rounded mb-2 w-100">
                        <span>Name: <%-userData.username%></span>
                    </div>
                    <div class="itms p-2 rounded m-b w-100">
                        <span>Email: <%-userData.email%></span>
                    </div>
                </div>
            </div>
    </div>
</main>
<%-include('./partials/footer.ejs') %>